- let author = config.author
- let launch_time = theme.footer.runtime.launch_time
- let since = theme.footer.owner.since
- let version = get_version("tags")
script.
  // 消除控制台打印
  var HoldLog = console.log;
  console.log = function () {};
  let now1 = new Date();
  queueMicrotask(() => {
    const Log = function () {
      HoldLog.apply(console, arguments);
    }; //在恢复前输出日志
    const grt = new Date("#{launch_time}"); //此处修改你的建站时间或者网站上线时间
    now1.setTime(now1.getTime() + 250);
    const days = (now1 - grt) / 1000 / 60 / 60 / 24;
    const dnum = Math.floor(days);
    const ascll = [
      `ØBlog`,
      `by`,
      `██████╗ ███████╗ █████╗  ██████╗██╗  ██╗\n██╔══██╗██╔════╝██╔══██╗██╔════╝██║  ██║\n██████╔╝█████╗  ███████║██║     ███████║\n██╔═══╝ ██╔══╝  ██╔══██║██║     ██╔══██║\n██║     ███████╗██║  ██║╚██████╗██║  ██║\n╚═╝     ╚══════╝╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝`,
      `Copyright`,
      `© 2023 HiPeach Inc. All Rights Reserved.`
    ];

    setTimeout(
      Log.bind(
        console,
        `%c${ascll[0]} %c${ascll[1]}\n%c${ascll[2]}\n%c${ascll[3]} %c${ascll[4]}\n`,
        "color:#4D7DFD; font-size:25px; font-family:MiSans; font-weight:bold; line-height:1.7",
        "font-size:20px; font-family:MiSans; font-weight:bold; line-height:1.7",
        "color:#4D7DFD",
        "color:#4D7DFD; font-size:15px; font-family:MiSans; font-weight:bold; line-height:1.4",
        "font-family:MiSans; font-weight:bold; line-height:1.4"
      )
    );

    setTimeout(Log.bind(console, "%c Console %c 控制台已开启.", "color:white; background-color:#558464; border-radius:3px", ""));

    setTimeout(Log.bind(console, `%c Camera %c 调用前置摄像头拍照成功，数据比对完成.`, "color:white; background-color:#528a9f; border-radius:3px", "",));

    setTimeout(Log.bind(console, "%c Welcome %c 你好，旅行者.", "color:white; background-color:#4f90d9; border-radius:3px", ""));

    setTimeout(Log.bind(console, "%c Blog %c 博客已经运行", "color:white; background-color:#7661dc; border-radius:3px", "", dnum, "天.", ""));

    setTimeout(console.warn.bind(console, "%c Warning %c 你现在正处于监控中.", "color:white; background-color:#d9534f; border-radius:3px", ""));
  });